<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title>Furnish Nest</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/frontEnd/images/banner/logo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/frontEnd/stylesheets/main.css?v=3.4">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--   -->
   
</head>
<body>
    <!-- Quick view -->
    <div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="/frontEnd/images/shop/product-16-2.jpg" alt="product image">
                                    </figure>
                                </div>
                                <!-- THUMBNAILS -->
                                <div class="slider-nav-thumbnails pl-15 pr-15">
                                    <div><img src="/frontEnd/images/shop/thumbnail-3.jpg" alt="product image"></div>
                                    <div><img src="/frontEnd/images/shop/thumbnail-4.jpg" alt="product image"></div>
                                    <div><img src="/frontEnd/images/shop/thumbnail-5.jpg" alt="product image"></div>
                                    <div><img src="/frontEnd/images/shop/thumbnail-6.jpg" alt="product image"></div>
                                    <div><img src="/frontEnd/images/shop/thumbnail-7.jpg" alt="product image"></div>
                                    <div><img src="/frontEnd/images/shop/thumbnail-8.jpg" alt="product image"></div>
                                    <div><img src="/frontEnd/images/shop/thumbnail-9.jpg" alt="product image"></div>
                                </div>
                            </div>
                            <!-- End Gallery -->
                            <div class="social-icons single-share">
                                <ul class="text-grey-5 d-inline-block">
                                    <li><strong class="mr-10">Share this:</strong></li>
                                    <li class="social-facebook"><a href="#"><img
                                                src="/frontEnd/images/theme/icons/icon-facebook.svg" alt=""></a></li>
                                    <li class="social-twitter"> <a href="#"><img
                                                src="/frontEnd/images/theme/icons/icon-twitter.svg" alt=""></a></li>
                                    <li class="social-instagram"><a href="#"><img
                                                src="/frontEnd/images/theme/icons/icon-instagram.svg" alt=""></a></li>
                                    <li class="social-linkedin"><a href="#"><img
                                                src="/frontEnd/images/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">Colorful Pattern Shirts HD450</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Brands: <a href="shop-grid-right.html">Bootstrap</a></span>
                                    </div>
                                    <div class="product-rate-cover text-end">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width:90%">
                                            </div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">$120.00</span></ins>
                                        <ins><span class="old-price font-md ml-15">$200.00</span></ins>
                                        <span class="save-price  font-md color3 ml-15">25% Off</span>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam
                                        rem officia, corrupti reiciendis minima nisi modi,!</p>
                                </div>
                                <div class="attr-detail attr-color mb-15">
                                    <strong class="mr-10">Color</strong>
                                    <ul class="list-filter color-filter">
                                        <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Yellow"><span
                                                    class="product-color-yellow"></span></a></li>
                                        <li class="active"><a href="#" data-color="White"><span
                                                    class="product-color-white"></span></a></li>
                                        <li><a href="#" data-color="Orange"><span
                                                    class="product-color-orange"></span></a></li>
                                        <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Green"><span class="product-color-green"></span></a>
                                        </li>
                                        <li><a href="#" data-color="Purple"><span
                                                    class="product-color-purple"></span></a></li>
                                    </ul>
                                </div>
                                <div class="attr-detail attr-size">
                                    <strong class="mr-10">Size</strong>
                                    <ul class="list-filter size-filter font-small">
                                        <li><a href="#">S</a></li>
                                        <li class="active"><a href="#">M</a></li>
                                        <li><a href="#">L</a></li>
                                        <li><a href="#">XL</a></li>
                                        <li><a href="#">XXL</a></li>
                                    </ul>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="detail-qty border radius">
                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span class="qty-val">1</span>
                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                    <div class="product-extra-link2">
                                        <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">
                                    <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                    <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#"
                                            rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                    <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header-area header-style-4 header-height-2">
       
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="index.html"><img src="/frontEnd/images/banner/logo.png" style="width: 300px;"
                                alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="d-flex">
                            <form action="/search" method="post" class="d-flex" onsubmit="searchValidate()">
                                <input  type="text" name="searchItem" id="searchInput" style="border: 1px solid grey; width: 600px; border-radius: 5px;"
                                    placeholder="Search for items...">
                               <button class="btn">Search</button>
                            </form>
                        </div>
                        <script>
                            function searchValidate(){
                              var search=  document.getElementById('searchInput').value
                              alert(search)
                              if(search.trim()==""){
                                window.location.reload()
                                return false
                              }else{
                                return true
                              }
                                  
                            }
                        </script>
                    </div>
                        <div class="button-container">
                            <a class="profile-button" href="/profile/userProfile">
                                <i class="fas fa-user"></i> <%=locals.user?user:"profile"%>
                            </a>
                            <% if (locals.user) { %>
                            <a class="logout-button" href="/logout">
                                <i class="fas fa-sign-in-alt"></i> Logout
                            </a>
                            <% }else{%>
                            <a class="logout-button" href="/login">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </a>
                           <% } %>
                          
                        </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/frontEnd/images/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <% for(category of categories) { %>
                                        <li><a href="/AllProduct_Category?name=<%=category.categoryName%>"><i
                                                    class="evara-font-desktop"></i>
                                                <%= category.categoryName %>
                                            </a>
                                        </li>
                                        <% } %>
                                </ul>
                                <div class="more_categories">Show more...</div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishList/viewWishList">
                                        <i class="fas fa-heart" style="color: #088178;"></i>
                                        <span id="wish_list_count"  class="pro-count blue"><% if (wish_list && wish_list.products) { %>
                                            <%= wish_list.products.length %>
                                                <% } else { %>
                                                    0
                                                    <% } %></span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart/viewCart">
                                        <i class="fas fa-shopping-cart" style="color: #088178;"></i>
                                        <span id="cart-count" class="pro-count blue">
                                            <%= cart_products.length %>
                                        </span>
                                    </a>
                                    <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2"> -->
                                    <!-- <ul>
                                                                    <li>
                                                                        <div class="shopping-cart-img">
                                                                            <a href="shop-product-right.html"><img alt="Evara"
                                                                                    src="/frontEnd/images/shop/thumbnail-3.jpg"></a>
                                                                        </div>
                                                                        <div class="shopping-cart-title">
                                                                            <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                                            <h4><span>1 × </span>$800.00</h4>
                                                                        </div>
                                                                        <div class="shopping-cart-delete">
                                                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="shopping-cart-img">
                                                                            <a href="shop-product-right.html"><img alt="Evara"
                                                                                    src="/frontEnd/images/shop/thumbnail-2.jpg"></a>
                                                                        </div>
                                                                        <div class="shopping-cart-title">
                                                                            <h4><a href="shop-product-right.html">Corduroy Shirts</a></h4>
                                                                            <h4><span>1 × </span>$3200.00</h4>
                                                                        </div>
                                                                        <div class="shopping-cart-delete">
                                                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                                                        </div>
                                                                    </li>
                                                                </ul> -->
                                    <!-- <div class="shopping-cart-footer">
                                                                    <div class="shopping-cart-total">
                                                                        <h4>Total <span>$4000.00</span></h4>
                                                                    </div>
                                                                    <div class="shopping-cart-button">
                                                                        <a href="shop-cart.html" class="outline">View cart</a>
                                                                        <a href="shop-checkout.html">Checkout</a>
                                                                    </div>
                                                                </div> -->
                                    <!-- </div> -->
                                </div>
                                <!-- <a href="/myOrdersView">MY ORDERS</a> -->
                            </div>
                        </div>
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%
                    </p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/viewWishList">
                                    <img alt="Evara" src="/frontEnd/images/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <script>
 
    </script>