<%- include('../partials/admin/header.ejs') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products grid</h2>
                <!-- <p>Lorem ipsum dolor sit amet.</p> -->
            </div>
            <div>
                <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                <a href="/admin/product/addProduct" class="btn btn-primary btn-sm rounded">Add product</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search.." class="form-control" id="searchInput"
                            oninput="search()">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>All category</option>
                            <option>Electronics</option>
                            <option>Clothings</option>
                            <option>Something else</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Latest added</option>
                            <option>Cheap first</option>
                            <option>Most viewed</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-5"
                    id="content-body">
                    <% if (products?.length) { %>
                        <% for( product of products ) { %>
                            <div class="col" id="pro_<%=product._id%>">
                                <div class="card card-product-grid">
                                    <a href="#" class=""> <img
                                            src="/backEnd/images/cropped_image/<%=product.productImage[0]%>"
                                            alt="Product"> </a>
                                    <div class="info-wrap">
                                        <a href="#" class="title text-truncate">
                                            <%= product.productName %>
                                        </a>
                                        <a href="#" class="title text-truncate">Category:<%= product.productCategory %>
                                        </a>
                                        <div class="price mb-2">
                                            ₹ <%= product.sellingPrice %>
                                        </div> <!-- price.// -->

                                        <% if (product.productStock>0) { %>
                                            <p class="title  text-truncate">
                                                <span class="text-success">In Stock</span> (<%= product.productStock %>)
                                            </p>
                                            <% }else{%>
                                                <p class="title  text-truncate">
                                                    <span class="text-danger">Out of Stock</span>
                                                    (<%= product.productStock %>)
                                                </p>
                                                <% } %>

                                                    <a href="/admin/product/editProduct?id=<%= product._id %>"
                                                        class="btn btn-sm font-sm rounded btn-brand">
                                                        <i class="material-icons ">edit</i> Edit
                                                    </a>
                                                    <a href="#"
                                                        onclick="removeProduct('<%=product._id%>','<%=products%>')"
                                                        class="btn btn-sm font-sm btn-light rounded">
                                                        <i class="material-icons ">delete_forever</i> Delete
                                                    </a>
                                    </div>
                                </div> <!-- card-product  end// -->
                            </div> <!-- col.// -->
                            <% } %>
                                <% }else{%>
                                    <div>
                                        <h1>No Products</h1>
                                    </div>
                                    <% } %>

                </div> <!-- row.// -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-30 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start" id="pagination">
                    <% for( let index=1; index <=count; index++ ) { %>
                        <li id="pagenate_<%=index %>" class="page-item <%=page==index?'active':' ' %> "><a
                                class="page-link" onclick="navigate('/admin/product/viewProducts?page=<%=index%>&ajax=true')" href="#">
                                <%= index %>
                            </a></li>
                        <% } %>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
    <script>
        function removeProduct(id, page) {
            $.ajax({
                type: "GET",
                url: `/admin/product/delete?id=${id}`,
                success: function (response) {
                    if (response.response === "removed") {
                        $(`#pro_${id}`).remove()
                        let currentPage = getCurrentPage()
                        alert(currentPage)
                        navigate(currentPage)
                    }
                },
                error: function (error) {
                    // Handle other errors, if any
                },
            })
        }
        function updateCurrentPage(page) {
            localStorage.setItem('currentPage', page)
        }
        function getCurrentPage() {
            return localStorage.getItem('currentPage')
        }
        //pagination working
        function navigate(url) {
        
            fetch(url)
                .then((response) => response.json())
                .then((data) => {
                    updateCurrentPage(data.page)
                    for (let pageIndex = 1; pageIndex <= data.count; pageIndex++) {
                        const pageElement = document.getElementById(
                            `pagenate_${pageIndex}`
                        )
                        if (pageElement) {
                            if (data.page == pageIndex) {
                                pageElement.classList.add("active")
                            } else {
                                pageElement.classList.remove("active")
                            }
                        }
                    }
                    // Assuming there is a container element with id "productContainer" to display the fetched data
                    var productContainer = document.getElementById("content-body")
                    productContainer.innerHTML = ""

                    let text = ""
                    data.products.forEach((product) => {
                        text += `<div class="col" id="pro_${product._id}">
                <div class="card card-product-grid">
                    <a href="#" class=""> 
                        <img src="/backEnd/images/cropped_image/${product.productImage[0]}" alt="Product">
                    </a>
                    <div class="info-wrap">
                        <a href="#" class="title text-truncate">
                            ${product.productName}
                        </a>
                        <a href="#" class="title text-truncate">Category:${product.productCategory}</a>
                        <div class="price mb-2">
                            ₹ ${product.sellingPrice}
                        </div>`

                        // Control statement based on product stock
                        if (product.productStock > 0) {
                            text += `<p class="title text-truncate">
                    <span class="text-success">In Stock</span> (${product.productStock})
                </p>`
                        } else {
                            text += `<p class="title text-truncate">
                    <span class="text-danger">Out of Stock</span> (${product.productStock})
                </p>`
                        }

                        // Continue with the rest of the HTML
                        text += `<a href="/admin/product/editProduct?id=${product._id}" class="btn btn-sm font-sm rounded btn-brand">
                <i class="material-icons">edit</i> Edit
            </a>
            <a href="#" onclick="removeProduct('${product._id}')" class="btn btn-sm font-sm btn-light rounded">
                <i class="material-icons">delete_forever</i> Delete
            </a>
        </div>
    </div> <!-- card-product end// -->
</div> <!-- col.// -->`

                        // Set innerHTML after the loop
                        productContainer.innerHTML = text
                    })

                    console.log(data.products)
                })
                .catch((error) => console.error("Error:", error))
        }

        //product search

        function search() {
            var query = $("#searchInput").val()
            console.log(query)

            $.ajax({
                url: "/admin/search",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({ query: query }),
                success: function (data) {
                    displaySearchResults(data.products, data.count, data.page)
                },
                error: function (error) {
                    console.error("Error:", error)
                },
            })
        }

        //function to display results

        function displaySearchResults(products, count) {
            console.log("result is..", products)
            var contentBody = document.getElementById("content-body")
            contentBody.innerHTML = ""
            var pagination = document.getElementById("pagination")
            pagination.innerHTML = ""

            console.log(count)
            for (let index = 1; index <= count; index++) {
                pagination.insertAdjacentHTML("beforeend", `
        <li class="page-item">
            <a class="page-link" onclick="navigate('/admin/search?page=${index}')" href="#"> ${index} </a>
        </li>
    `);
            }


            if (products.length > 0) {
                for (var i = 0; i < products.length; i++) {
                    var product = products[i]

                    var productCard = `
            <div class="col" id="pro_${product._id}">
                <div class="card card-product-grid">
                    <a href="#"> <img src="/backEnd/images/cropped_image/${product.productImage[0]
                        }" alt="Product"> </a>
                    <div class="info-wrap">
                        <a href="#" class="title text-truncate">${product.productName
                        }</a>
                        <a href="#" class="title text-truncate">Category:${product.productCategory
                        }</a>
                        <div class="price mb-2">₹ ${product.sellingPrice}</div>
                        ${product.productStock > 0
                            ? `<p class="title  text-truncate"><span class="text-success">In Stock</span> (${product.productStock})</p>`
                            : `<p class="title  text-truncate"><span class="text-danger">Out of Stock</span> (${product.productStock})</p>`
                        }
                        <a href="/admin/editProduct?id=${product._id
                        }" class="btn btn-sm font-sm rounded btn-brand">
                            <i class="material-icons ">edit</i> Edit
                        </a>
                        <a href="#" onclick="removeProduct('${product._id
                        }')" class="btn btn-sm font-sm btn-light rounded">
                            <i class="material-icons ">delete_forever</i> Delete
                        </a>
                    </div>
                </div>
            </div>`
                    contentBody.insertAdjacentHTML("beforeend", productCard)
                }
            } else {
                contentBody.innerHTML = "<div><h1>No Products</h1></div>"
            }
        }
    </script>

    <%- include('../partials/admin/footer.ejs') %>